/*Color corporativo: */
/*Estructura básica del site*/
#capaPadre {
    height: 100%;
    width: 100%;
}

header {
    height: 40px;
}

#contenido {
	font-family: 'Source Sans Pro', sans-serif;
}

h2{
	font-size: 1.8em;
	text-align: center;
	margin: 20px;
}

p{
  text-align: center;
  max-width: 550px;
  position: relative;
  left: 50%;
  transform: translate(-50%);

}
/*Estructura básica del site*/









/*Estilo de menu + logo*/

#logo {
    position: relative;
    padding: 3px 0 0 0;
    float: left;
    display: none;
}


.menu ul {
  list-style-type: none;
	float: right;
	font-family: 'Source Sans Pro', sans-serif;

}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    transition: .5s;
    padding: 15px;
}

.menu ul li a:hover {

}

/*Estilo de menu + logo*/







/*SLIDER*/
/*estilo de título/slogan------*/
#titulo {
    position: absolute;
    top: 40%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Source Sans Pro', sans-serif;
}

#titulo h1 {
    font-size: 3em;
    text-align: center;
    font-family: arial;
    color: white;

}

#titulo p {
    text-align: center;
    font-family: arial;
    font-size: 1em;
    color: white;
    margin-top: 15px;
    line-height: 20px;
}


/*estilo de título/slogan------*/

#imgCabecera {
    object-fit: cover;
    max-height: 500px;
    width: 100%;
    -webkit-filter: brightness(150%);
    filter: brightness(60%);

}

/*SLIDER*/









/*FOOTER*/

footer {
	border-top: 1px #e0dede solid;
    height: 120px;
    display: flex;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.contenidoFooter{
	margin-left: 20px;
}

footer p {
    float: left;
    font-size: 1em;
	color: grey;
}


.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
	margin: 2px 1px;
	opacity:.7;
}

.fa:hover {
    color: white;
    opacity:1;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}



