/*Estructura básica del site*/

/*-----HEADER: BARRA DE NAVEGACIÓN-----*/
#logo{
	padding: 10px 0 0 10px; 
	/*margin: top right bottom left;*/
	float: left;
}

.menu ul li a:link, .menu ul li a:visited, .menu ul li a:active{
	text-decoration: none;
	float: left;
	/*font-family: 'Ubuntu Condensed', sans-serif;*/
	font-family: 'fragment';
	font-size: 1.75em;
	cursor: default;
	/*color: #9c0a23;*/
}

a:link, a:visited, a:active{color: white/*#9c0a23*/;font-size: 1.75em;}
a:hover{color: grey; font-weight: bolder; text-shadow: 6px 6px 5px rgba(150, 150, 150, 1);}

/*.menu ul li a:hover{color: grey; font-weight: bolder; text-shadow: 6px 6px 5px rgba(150, 150, 150, 1);}*/

.myButton {
	box-shadow: 0px 10px 14px -7px #732727;
	background:linear-gradient(to bottom, #b35959 5%, #994040 100%);
	background-color:#b35959;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#fff !important;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:3px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
	margin-top: 2px;
	margin-left: 15px;
}

.myButton:hover {
	background:linear-gradient(to bottom, #994040 5%, #b35959 100%);
	background-color:#994040;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*BOTONES ANIMALES*/
.botonesAnimales{
  padding-top: 3%;
  padding-left: 35%;
}
.perro{
  width: 80px;
  height: 80px;
}
.gato{
  width: 80px;
  height: 80px;
}
.roedor{
  width: 80px;
  height: 80px;
}
.reptil{
  width: 80px;
  height: 80px;
}

.img-fluid{
	object-fit: cover;
	max-height: 500px;
    width: 100%;
}

#titulo {
    position: absolute;
    top: 535px;
    left: 75%;
	transform: translate(-50%, -50%);
	/*font-family: 'Source Sans Pro', sans-serif;*/
}

#titulo h1 {
    /*color: black;*/
    color:lightseagreen;
    font-size: 3em;
    text-align: center;
    font-family: arial;
}

#titulo2 h2{
	position: absolute;
    top: 830px;
    left: 650px;
	transform: translate(-50%, -50%);
	color:grey;
    font-size: 2.5em;
    text-align: center;
    font-family: arial;
}

.hotel1{
	position: absolute;
    top: 875px;
    left: 200px;
  text-align: center;
}

h3{
	text-align: center;
}

p{
	text-align: center;
}

/*----BOTONES GIRATORIOS---*/
.wrapper{
	position: relative;
	top: 80px;
	left: 20%;
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.wrapper2{
	position: relative;
	top: -215px;
	left: 50%;
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.wrapper3{
  position: relative;
  top: 80px;
  left: 30%;
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}
.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
	width: calc(25% - 2rem);
	margin: 1rem;
	cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

.textoInfo{
  position: relative;
  top: -200px;
}
/*-------------------------------*/
.textoInfo2{
  position: relative;
  top: 0px;
  margin-right: 8%;
}

#titulo4{
  float: right;
  padding-right: 85px;
}
/* FOOTER */
footer{
  height: 120px;
  width: 100%;
  background-color: #1C2833;
  /*display: flex;
  justify-content: center;
  align-items: center;
  float: left;*/
}

.logoFooter{
  height: 20%;
  float: left;
}

footer p .assistive-text{
  float: left; 
  font-size: 26px; 
  text-shadow: 2px 2px 3px #4a4a4a;
  color: white;}

.assistive-text{
  float: right;
}

.fa{
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
}

.fa:hover {
  color: grey;
    opacity: 0.7;
    text-shadow: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/*-----------------------------*/