/*Colores corporativo: #56c596; #2b8988 ; #7be495, #40b9b8
Letras font-family: 'ABeeZee', sans-serif (titulo/botones);
      font-family: 'Source Sans Pro', sans-serif (texto normal);	*/


/*------------------------------------*\
  ESTRUCTURA BÁSICA (CLASES GENERALES)
\*------------------------------------*/
/*reset de márgenes y padding*/
*{
    padding:0;
    margin:0;
}

#capaPadre {
    height: 100%;
    width: 100%;
}

header {
    height: 40px;
}

/*H'S GENERALES*/
h1 {
    font-size:3vw;
    text-align: center;
    color: white;
    font-weight: 900;
    margin: 0;
	
}

h2 {
    border-bottom: 1px solid rgb(165, 165, 165);
    padding-bottom: 15px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.8em;
    color: rgb(50, 50, 50);
    text-align: center;
    font-weight: 900;
    margin: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.8em;
    color: rgb(50, 50, 50);
    text-align: center;
    font-weight: 900;
    margin: 20px;
    border-bottom: #7be495;


}
/*---------------------------------*/

/*párrafo estandar*/
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    color: rgb(92, 92, 92);
    text-align: center;
    line-height: 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*comienzo botón estandar*/
.boton-general {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    color: white;
    letter-spacing: 1px;
    padding: 15px;
    margin: 20px;
    font-weight: 900;
    border: none;
    border-radius: 50px;
    /*gradiente*/
    background: rgb(123, 228, 149);
    background: linear-gradient(175deg, rgba(123, 228, 149, 1) 32%, rgba(64, 185, 184, 1) 100%);
    transition: all 0.3s ease-in-out;
    /*sombras*/
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.12);

}

/*estados del botón*/
.boton-general:hover {
    letter-spacing: 2.5px;
    border-radius: 10px;
}

.boton-general:active {
    background: rgb(123, 228, 149);
}

.boton-general:focus {
    outline: 0;

}
/*---------------------------------*/

/*menu/nav*/
header{
	position: fixed; 
	top: 0; 
	width: 100%; 
	z-index: 100;
}

nav{
	z-index: 100;
}
.nav-item{
    font-family: 'ABeeZee', sans-serif;
    
}

.nav-link  {
  color:  white !important;
  margin: 10px 20px;
  padding: 10px 25px !important;
  transition: all 0.1s ease-in-out;
  border-radius: 50px !important;
  font-weight: 900;
  letter-spacing: 1px;

}

.nav-link:hover {
  color: white !important;
  /*gradiente*/
  background: rgb(123, 228, 149);
  background: linear-gradient(175deg, rgba(123, 228, 149, 1) 32%, rgba(64, 185, 184, 1) 100%);
  transition: all 0.3s ease-in-out;
  border-radius: 50px !important;

}


.navbar ul {
 margin: auto;
}

div .dropdown-menu li a{
  color: gray !important;
}


.solid-nav {
  background-color:rgba(255, 255, 255, 0.9);
    transition: background-color 0.2s linear;
   
  }

 .solid-nav li a{
  color: rgb(122, 122, 122) !important;
 
 } 

 /*MODAL COOKIES*/
 .contenedorcookie {
  padding: 0rem 0rem;

}

.modal-dialog {
  margin-top: 0rem;
  max-width: 100%;
}
.modal-dialog .modal-content {
  border-radius: 7px;
  
}
.modal-dialog .buttons .btn {
  margin: 0.4rem;
}
.cookie-text{
  text-align: left;
  font-family: Calibri 1em;
}

 
/*HEADER*/
/*'titulo' Incluye logo/Nombre/slogan*/
#titulo {
  z-index:999;
  position: absolute; 
  top: 120px; 
  left: 0; 
  width: 100%; 
  font-family: 'ABeeZee', sans-serif;
}

#logo{
  z-index:999;
  text-align: center;
  
}

#titulo h4{/*slogan del header*/
  z-index:999;
  margin-top: 2px;
	font-size:40px;
	font-weight: 500;
	text-align: center;
	color: #7be495;
}

#imgCabecera {/*imagen de header*/
  z-index:1;
  object-fit: cover;
  width: 100%;
  height: 550px;
  -webkit-filter: brightness(150%);
  filter: brightness(50%);
}

/*CAROUSEL*/
.carousel slide{
  width: 100%;
  height: 100%;
}
.carousel-inner img{
  z-index:1;
  object-fit: cover;
  width: 100%;
  height: 550px;
  -webkit-filter: brightness(150%);
  filter: brightness(50%);
}
.carousel-control-prev{
  height: 1000px;
}
.carousel-control-next{
  height: 1000px;
}

/*CONTENIDO*/
#contenido {
    text-align: center;
    margin-top: 30px;
}
#contenidocancelar{
  text-align: center;
  margin-top: 30px;
  font-size: 0.95em; 
}


/*FOOTER GENERAL*/
svg {/*curva de footer*/
	margin-top: 20px;
    position: relative;
    top:25px;
    z-index: 0;
    
}

footer {
    /*gradiente*/
    background: rgb(85, 195, 149);
    background: linear-gradient(180deg, rgba(85, 195, 149, 1) 0%, rgba(86, 197, 150, 1) 27%, rgba(46, 135, 131, 1) 100%);
    text-align: center;
    color: white;
    height: 250px;
}

.info-footer p {/*parrafos dentro del footer*/
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: white;
    padding-top: 10px;
}

.iconos-footer {/*area de iconos redes sociales*/
    width: 400px;
    padding: 50px 0px 20px 0px;
    border-bottom: 2px white solid;/*linea inferior blanca en footer*/
    display: inline-block;
    font-size: 20px;
}

.fab  {/*iconos redes sociales*/
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 2px 10px;
    opacity: 1;
    border-radius: 60px;
	transition: 0.3s ease-in-out;
    align-content: center;
}

.fa-facebook-f, .fa-twitter,.fa-linkedin-in, .fa-instagram{
    height: 40px;
    width: 40px;
}

/*Estados de iconos*/
.fa:hover {
    text-decoration: none;
}

.fa-facebook-f:hover {
    background: #39569c;
    color: white;
}

.fa-twitter:hover {
    background: #2bc4ff;
    color: white;
}

.fa-linkedin-in:hover {
    background: #0072b1 ;
    color: white;
}

.fa-youtube:hover {
    background: #de0924;
    color: white;

}

.fa-instagram:hover {
    background: #E1306C;
    color: white;
}
/*FOOTER GENERAL*/

/*Media queries del menu/slide/footer*/
@media only screen and (max-width: 1000px) {

    #titulo h4{
        margin-top: 5px;
        font-size:1em;
        font-weight: 500;
        text-align: center;
        color: #7be495;
    }
    
    #titulo p {
        text-align: center;
        font-size:1em;
        width: 400px;
        color: white;
        margin-top: 5px;
        font-weight: 500;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    
    }

    
  }

  
/*------------------------------------*\
  ESTILO DE APARTADO HOME
\*------------------------------------*/
/*general*/
.icono-pata-de-perro:before {/*icono de pata de perro que va arriba de los subtitulos, por alguna razon no me permite colocarlo en el apartado general*/
    font-size: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7be495), to(#56c596));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial; /* reset Font Awesome's display:inline-block */
  }​

.info{
  text-align: center;
  margin: 20px;
}

.info span{
  color: #7be495;
}

/*servicios*/

#home-servicios-grid{
  margin-top: 30px;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.8em;
  text-align: center;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

#botonServiciosInicio{
  background: #56c596;
  height: 200px;
  position: relative;
  z-index: 10;
}

#botonServiciosInicio a{text-decoration: none; color: black;}

#botonServiciosInicio img{height: 100px; margin-top: 20px}

#botonServiciosInicio:hover{background: #7be495}

/*beneficios*/
#beneficios img{
  width: 100%;
}
/*reviews*/
#reviews{
    text-align: center;
    margin: 0 80px 80px;
    z-index: 10;
}

#review-card{/*div general de cards de bootstrap (reviews)*/
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.foto-review {/*foto de los clientes*/
  border-radius: 100px;
}

.card{/*cards de bootstrap*/
  max-width: 300px;
  margin: 20px;
  -webkit-box-shadow: 2px 9px 11px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 2px 9px 11px 0px rgba(0,0,0,0.07);
  box-shadow: 2px 9px 11px 0px rgba(0,0,0,0.07);
  border: none;
  border-radius: 30px;
}

.estrellas-review{/*estrellas de puntuación*/
 width: 140px;
 margin-top: -15px;
}

.card-title{/*nombre de los clientes en reviews*/
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.2em;
    color: rgb(50, 50, 50);
    text-align: center;
    font-weight: 900;
    margin: 20px;
}

.card-text{
    font-size: 18px;
}
/*Showroom/galeria*/
#showroom{
    width: 100%;
    position: relative;
    top: 60px;
}
.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
    overflow: hidden;
    margin: -100px;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
    object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*por si no tiene compatibilidad con el browser*/
@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/*registro*/
#registro {
    text-align: center;
    margin-top: 100px;
    z-index: 10;
}

#hazte-miembro{/*posicion de boton 'Hazte cliente'*/
   position: relative;
   top: 50px;
}
#hazte-miembro:hover{/*Esto es para evitar que el link tenga surayado y cambie de color al pasar por encima*/
    color: white;
    text-decoration: none;
}


/*------------------------------------*\
  APARTADO DE RESERVAS
\*------------------------------------*/
/*tabs*/
.tabs-1 {
    grid-area: tabone;
  }

  .tabs-2 {
    text-align: center;
    grid-area: tabtwo;
    padding-top: 25px;
  }
  
  ul.tabs {
    text-align: center;
    color:lightseagreen;
    font-size: 1.75em;
    margin: 0% 5% 0% 5%;
    list-style: none;
    background: white;
    font-family:  'ABeeZee', sans-serif;
  }

  ul.tabs li { 
    text-align: center;  
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family:  'ABeeZee', sans-serif;
    
  }

  ul.tabs li:hover {
    font-weight: bold;
  }

  ul.tabs li.current {
    text-decoration: underline;
  }

  .tab-content {
    height: 500px;
    margin-left: 507px;
    display: none;
    font-weight: bold;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    text-align: left;
    line-height: 1.8;
    font-family:  'ABeeZee', sans-serif;
  }

  .tab-content.current {
    display: inherit;
    /*margin: 0% 15% 0% 15%;*/
  }

  /*Boton de siguiente y anterior*/
  #boton-reservas {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  #boton-reservas:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color:lightseagreen;
    color: black;
  }
  
  .next {
    background-color: lightseagreen;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }  

  #myBar {
    width: 10%;
    height: 30px;
    background-color: lightseagreen;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }

  #myBar2{
    width: 30%;
    height: 30px;
    background-color: lightseagreen;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }

  #myBar3{
    width: 50%;
    height: 30px;
    background-color: lightseagreen;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }

  /*formulario*/
.errorMessage{
    color:red !important;
    font-size: 11px;
}

.d-none {
    display: none;
}


/*------------------------------------*\
  APARTADO DE CONTACTO
\*------------------------------------*/
.boton_reserva{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.boton_reserva a{
    text-decoration: none;
    color: white;
}

.claseh2con{
    text-align: center;
}

.claseh2ayu{
    color:#7be495;
}

.cont_nos{
    color: grey;
}

.row .col-md-6 p{
    text-align: center;
}

.boton_check{
    padding-top:15px;
}

.boton_send{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.formulario_cont{
    margin: auto;
    height: 450px; 
    width: 500px;
    padding: 25px;
    border-radius: 27px;
  /*sombras*/
  -webkit-box-shadow: 2px 9px 11px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 2px 9px 11px 0px rgba(0,0,0,0.07);
  box-shadow: 2px 9px 11px 0px rgba(0,0,0,0.07);

}

#contacto-contenido{
  max-width: 80%;
  align-items: center;
  padding: 50px;
  margin: auto;
}

/*SERVICOS (HOTEL)*/
#boton-giratorio{
    font-size: 12px;
}
  .perro{
    width: 80px;
    height: 80px;
  }
  .gato{
    width: 80px;
    height: 80px;
  }
  .roedor{
    width: 80px;
    height: 80px;
  }
  .reptil{
    width: 80px;
    height: 80px;
  }
/*BOTONES GIRATORIOS*/
.wrapper{
	position: relative;
	top: 80px;
	left: 20%;
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.wrapper2{
	position: relative;
	top: -215px;
	left: 50%;
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.wrapper3{
  position: relative;
  top: 80px;
  left: 30%;
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}
.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
	width: calc(25% - 2rem);
	margin: 1rem;
	cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

.textoInfo{
  position: relative;
  top: -200px;
}  



/*AREA  CLIENTES*/
.container{
	
	margin-left: 450px;
	
}

.formulario-clientes{
margin-top: 200px;

}





