
/*Color corporativo: #1C2833; #A3E4D7*/
/*Estructura básica del site*/
#capaPadre {
    height: 100%;
    width: 100%;
}

header {
    height: 40px;
}

#contenido {
	font-family: 'Source Sans Pro', sans-serif;
}

h2{
	font-size: 1.8em;
	text-align: center;
	margin: 20px;
}

p{
  text-align: center;
  max-width: 550px;
  position: relative;
  left: 50%;
  transform: translate(-50%);

}
/*Estructura básica del site*/





/*Estilo de menu + logo*/

#logo {
    position: relative;
    padding: 3px 0 0 0;
    float: left;
    display: none;
}


.menu ul {
  list-style-type: none;
	float: right;
	font-family: 'Source Sans Pro', sans-serif;

}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    transition: .5s;
    padding: 15px;
}

.menu ul li a:hover {

}

/*Estilo de menu + logo*/







/*SLIDER*/
/*estilo de título/slogan------*/
#titulo {
    position: absolute;
    top: 40%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Source Sans Pro', sans-serif;
}

#titulo h1 {
    font-size: 3em;
    text-align: center;
    font-family: arial;
    color: white;

}

#titulo p {
    text-align: center;
    font-family: arial;
    font-size: 1em;
    color: white;
    margin-top: 15px;
    line-height: 20px;
}


/*estilo de título/slogan------*/

#imgCabecera {
    object-fit: cover;
    max-height: 500px;
    width: 100%;
    -webkit-filter: brightness(150%);
    filter: brightness(60%);

}

/*He intentado colocar las imagenes del slider con el nombre/titulo encima pero no lo he logrado. 
He comentado el slider para preguntar al profesor como hacerlo correctamente*/
/*#slider{
	 
	display: block;
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 2000px;
	max-height: 750px;
	overflow: hidden;
opacity: .75}

.boton{
	position: absolute;
	display: block;
	bottom: 30px;
	margin: 0;
	padding: 0;
	z-index: 999;
	cursor: pointer;
	opacity: 0;
}

.boton:nth-child(1){left: 30px;}
.boton:nth-child(3){left: 60px;}
.boton:nth-child(5){left: 90px;}
.boton:nth-child(7){left: 120px;}

#slider label{
	position: absolute;
	bottom: 30px;
	width: 12px;
	height: 12px;
	background: rgba(50,50,50,.5);
	border-radius: 7px;
	z-index: 100;
	border: 1px solid #777;
}

#slider label:nth-child(2){left: 30px;}
#slider label:nth-child(4){left: 60px;}
#slider label:nth-child(6){left: 90px;}
#slider label:nth-child(8){left: 120px;}

.botom:checked + label{background: rgba(0,0,0,.6); border-color: red;}

.contenedor-img img{display: block; float: left;}

.cuatro-imagenes{width: 400%;} /*tamaño del sitio donde van a estar las imagenes
.cuatro-imagenes img{width: 25%;} /*tamaño de la imagen en ese sitio

.contenedor-img{
	position: relative;
	left: 0;
	transition: left .3s ease-in;
	-ms-transition: left .3s ease-in;
	-o-transition: left .3s ease-in;
	-moz-transition: left .3s ease-in;
	-webkit-transition: left .3s ease-in;
}

.boton:nth-child(1):checked ~ .contenedor-img{left: 0;}
.boton:nth-child(3):checked ~ .contenedor-img{left:-100%;}
.boton:nth-child(5):checked ~ .contenedor-img{left:-200%;}
.boton:nth -child(7):checked ~ .contenedor-img{left:-300%;}*/

/*SLIDER*/









/*SERVICIOS*/
/*Aqui he insertado una grid para posicionar facilmente los tipos de servicios.
En versiones posteriores sería mejor utilizar bootstrap para agilizar el proceso*/
#servicios{
	margin: 20px;
	max-width: 950px;
	position: relative;
    left: 50%;
	transform: translate(-50%);
}

#servicios-tipos{
	margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
      "hotel guarderia clinica";
      width: 100%;
}

#hotel-resort{
	grid-area:hotel;
  }

#guarderia{
	grid-area:guarderia;
  }

#clinica{
	grid-area:clinica;
  }

  #servicios-tipos h3{
	 text-align: center;
	 font-size: 1.3em;
	 margin: 7px;
	 padding: 5px;
	 border-bottom: 1px #e0dede solid;
  }

  #servicios-tipos div{
	border: 1px #e0dede solid;
	margin: 20px;
	padding: 20px;
  }
  
/*SERVICIOS*/






/*BENEFICIOS*/
#beneficios{
	margin: 20px;
	max-width: 950px;
	position: relative;
    left: 50%;
	transform: translate(-50%);
}

#beneficios-tipos{
	margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
      "uno dos tres";
    width: 100%;
}

#beneficios-1{
	grid-area:uno;
  }

#beneficios-2{
	grid-area:dos;
  }

#beneficios-3{
	grid-area:tres;
  }
 
.beneficios-1-2-3 {
  margin: 30px;

}

.beneficios-1-2-3 p {
	text-align: justify;
  
  }


/*BENEFICIOS*/







/*REVIEWS*/
#reviews{
	margin: 0px;
	max-width: 950px;
	position: relative;
	left: 55%;
	transform: translate(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
      "marco nuria miguel";

}

#marco{
	grid-area:marco;
}

#nuria{
	grid-area:nuria;
}

#miguel{
	grid-area:miguel;
}

#reviews div{
	border: 1px #e0dede solid;
	padding: 20px;
	max-width: 170px;
	height: 250px;
  }

  #reviews h3{
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 10px;
  }
  
/*REVIEWS*/







/*IMAGEN*/
#imagen1 img {
	position: relative;
	top: -10px;
	max-width: 100%;
	margin: 0;
}
/*IMAGEN*/





/*REGISTRO*/
#registro{
	text-align: center;
}

#registro button {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 30px;
	background:linear-gradient(to bottom, #bdbdbd 5%, #a3a3a3 100%);
	background-color:#bdbdbd;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:11px 20px;
  text-decoration:none;
  border: none;
}
#registro button:hover {
	background:linear-gradient(to bottom, #a3a3a3 5%, #bdbdbd 100%);
	background-color:#a3a3a3;
}
#registro button:active {
	position:relative;
	top:1px;
}

/*REGISTRO*/






/*FOOTER*/

footer {
	border-top: 1px #e0dede solid;
    height: 120px;
    display: flex;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.contenidoFooter{
	margin-left: 20px;
}

footer p {
    float: left;
    font-size: 1em;
	color: grey;
}


.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
	margin: 2px 1px;
	opacity:.7;
}

.fa:hover {
    color: white;
    opacity:1;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
